*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
}
body{
    background-color: red;
}
.logo{
    background-color: red;
    width: 20px;
}